<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MappingAssemblies" value="NHAutoMvcDemo;MyFrameWork" />        
        <add key="OverrideAssembly" value="NHAutoMvcDemo" />
        <add key="NHibConfigFile" value="nHibernate.config" />
        <add key="HbmExportPath" value="C:\" />
    </appSettings>
</configuration>