<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MappingAssemblies" value="NHAutoMvcDemo;Zephyr" />
        <add key="OverrideAssembly" value="NHAutoMvcDemo" />
        <add key="NHibConfigFile" value="nHibernate.config" />
        <add key="HbmExportPath" value="../../HbmExport" />
    </appSettings>
</configuration>