<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="MappingAssemblies" value="DemoApp.Web;Zephyr" />
        <add key="OverrideAssembly" value="MyTests" />
        <add key="NHibConfigFile" value="nHibernate.config" />
        <add key="HbmExportPath" value="../../HbmExport" />
        <!--<add key="DbSchemaExportPath" value="../../DBSchemaExport" />-->
        <add key="MappingConfigLogPath" value="D:/tmp" />
    </appSettings>
</configuration>