<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="ZephyrConfigGroup">
            <section name="zephyr-config" type="Zephyr.Configuration.ZephyrConfiguration" 
                     allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>
    <zephyr-config configSource="Zephyr.config" />
    <appSettings>
        <add key="MappingAssemblies" value="DemoApp.Web;Zephyr" />
        <add key="OverrideAssembly" value="MyTests" />
        <add key="NHibConfigFile" value="nHibernate.config" />
        <add key="HbmExportPath" value="../../HbmExport" />
        <!--<add key="DbSchemaExportPath" value="../../DBSchemaExport" />-->
        <add key="MappingConfigLogPath" value="D:/tmp" />
    </appSettings>
</configuration>