<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Zephyr" type="Zephyr.Configuration.ZephyrConfiguration, Zephyr" />
  </configSections>
  
  <Zephyr configSource="zephyr.config"/>
  <connectionStrings>
    <add name="ConnZephyrDemo" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=D:\MyProjects\Zephyr.NET\src\DemoApp.Web\App_Data\Demo_DB655.mdf;User Instance=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
   
</configuration>