<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="zephyr">
      <section name="zephyr-config" type="Zephyr.Configuration.ZephyrConfiguration, Zephyr" />
    </sectionGroup>
  </configSections>
  <zephyr>
    <zephyr-config appName="Zephyr"></zephyr-config>
  </zephyr>
  <appSettings>
    <add key="MappingAssemblies" value="DemoApp.Web" />
    <add key="OverrideAssembly" value="DemoApp.Web" />
    <add key="NHibConfigFile" value="nHibernate.config" />
    <add key="HbmExportPath" value="../../HbmExport" />
    <!--<add key="DbSchemaExportPath" value="../../DBSchemaExport" />-->
    <!--<add key="MappingConfigLogPath" value="D:/tmp" />-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.4000" newVersion="3.3.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>