<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
        <!--<property name="connection.connection_string">Data Source=D:\MyDev\Projects\DefaultDDDArch\src\DemoApp.Web\App_Data\Demo_DB.sdf;</property>-->        
        <!--<property name="connection.driver_class">NHibernate.Driver.SqlServerCeDriver</property>
        <property name="dialect">NHibernate.Dialect.MsSqlCe40Dialect</property>-->
        <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
        <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
        <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
        
        <property name="show_sql">true</property>        
        <property name="adonet.batch_size">5</property>
        <!--a config required to work for sql compact 4-->
        <property name="connection.release_mode">on_close</property>

        <!--AppHarbor-->
        <property name="connection.connection_string">Server=415bbaae-6fb2-4930-bd1f-a03200b06785.sqlserver.sequelizer.com;Database=db415bbaae6fb24930bd1fa03200b06785;User ID=lpkzsmuocrpbllus;Password=8DvMnxjW5iD8yvPbngoUvwsBBRRMGW4s63377FKcAKaH8WiSaJYtobwKm2jDPDoh;</property>
        <!--AppHarbor-->


        <!-- hbm2ddl tool property should NOT be used in production and is here to get you 
        going with the Cookbook! -->
        <!--<property name="hbm2ddl.auto">update</property>-->
        <!-- Mapping assemblies -->
        <!-- Can't map it for Fluent NHibernate here; instead, load the mapping assembly in Global.asax.cs.
			If you're still using HBMs, you can use the mapping here or pass the assembly via Global.asax.cs
			as well, just like you can do with the Fluent NHibernate assembly(s). -->
    </session-factory>
</hibernate-configuration>