<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>        
        <!--SQL CE-->
        <!--<property name="connection.connection_string">Data Source=|DataDirectory|\Demo_DB.sdf;</property>
        <property name="dialect">NHibernate.Dialect.MsSqlCe40Dialect</property>
        <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
        --><!--<property name="connection.driver_class">NHibernate.Driver.SqlServerCeDriver</property>--><!--
        <property name="connection.driver_class">Zephyr.Data.NHib.ProfiledSqlCeDriver, Zephyr</property>-->
        <!--SQL CE-->

        <!--SQL server 2008-->
        <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
        <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property> 
        <!--<property name="connection.driver_class">Zephyr.Data.NHib.ProfiledSql2008ClientDriver, Zephyr</property>-->
        <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
        <!--SQL server 2008-->


        <!--SQL Server express-->
        <property name="connection.connection_string">data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|Demo_DB661.mdf;User Instance=true;</property>
        <!--SQL Server express-->
      
        <!--AppHarbor-->
        <!--<property name="connection.connection_string">Server=415bbaae-6fb2-4930-bd1f-a03200b06785.sqlserver.sequelizer.com;Database=db415bbaae6fb24930bd1fa03200b06785;User ID=lpkzsmuocrpbllus;Password=8DvMnxjW5iD8yvPbngoUvwsBBRRMGW4s63377FKcAKaH8WiSaJYtobwKm2jDPDoh;</property>-->
        <!--AppHarbor-->
        

        <property name="show_sql">false</property>
        <property name="connection.release_mode">on_close</property>
        <property name="adonet.batch_size">5</property>

        <!-- hbm2ddl tool property should NOT be used in production -->
        <!--<property name="hbm2ddl.auto">update</property>-->
        <!-- Mapping assemblies -->
        <!-- Can't map it for Fluent NHibernate here; instead, configure mapping assemblies 
            and override assembly in AppSettings. If you're still using HBMs, you can use the mapping here           
		as well, just like you can do with the Fluent NHibernate assembly(s). -->
    </session-factory>    
</hibernate-configuration>