<Zephyr appName="ZephyrDemo" xmlns="http://defaultddd.apphb.com/">

  <persistence mappingAssemblies="DemoApp.Web" 
               overridingAssembly="DemoApp.Web" 
               nhibConfigFile="nHibernate.config"
               softDeleteEnabled="false"
               dbSchemaExportPath="D:\zephyr-tmp"
               hbmExportPath="D:\zephyr-tmp"
               />
  
</Zephyr>