@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="alert alert-error">
    
    <h4 class="alert-heading">@Model.Exception.Message</h4>
    @Model.Exception.StackTrace
</div>